@model RecuperacaoLivros.Models.Livro

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Titulo" class="form-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Autor" class="form-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AnoPublicacao" class="form-label"></label>
                <input asp-for="AnoPublicacao" class="form-control" type="number" />
                <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
